.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: bottom;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
}
.wrapper .button:hover{
    width: 200px;


}
.wrapper .button .icon{
    display: inline-block;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
}
.wrapper .button .icon i{
    font-size: 25px;
    line-height: 30px;
}
.wrapper .button span{
    font-size: 25px;
    font-weight: 500;
    line-height: 100px;
    margin-left: 10px;

}